# Определяем "шаблон" для API-сервисов с помощью якоря
x-api-base: &api-base-config
  build:
    context: .  # Контекст сборки - корень проекта
    dockerfile: docker/api/Dockerfile  # Путь к Dockerfile для API
  env_file: .env  # Передаем все переменные из .env в контейнер
  volumes:
    - api_logs:/logs  # Монтируем том для логов
  depends_on:
    db:
      condition: service_healthy  # Запускаем только после того, как db станет healthy
  networks:
    - backend

services:
  # Сервис Базы данных
  db:
    image: postgres:18-alpine
    container_name: habit_tracker_db
    environment:
      POSTGRES_DB: ${DB_NAME:-habit_tracker_db}
      POSTGRES_USER: ${DB_USER:-habit_tracker_user}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data  # Монтируем том для БД
    healthcheck:
      # Проверяет, готова ли БД принимать соединения (экранируем $ для shell)
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s  # Даем время на запуск Postgres перед первой проверкой
    restart: unless-stopped
    networks:
      - backend

  # Сервис API
  api:
    <<: *api-base-config
    container_name: habit_tracker_api
    # Команда для "продакшен" запуска (будет передана в entrypoint как "$@")
    command: poetry run uvicorn src.api.main:app --host 0.0.0.0 --port 8000
    restart: unless-stopped

  # Сервис миграций
  api-migrate:
    <<: *api-base-config
    # Сервис запустится только если явно попросить профиль 'tools' или сам сервис
    profiles: ["tools"]
    # Команда для выполнения миграций (будет передана в entrypoint как "$@")
    command: alembic upgrade head
    restart: "no"


  # --- Заглушки для будущих сервисов ---

  # bot:
  #   build:
  #     context: .  # Контекст сборки - корень проекта
  #     dockerfile: docker/bot/Dockerfile  # Путь к Dockerfile для Телеграм-бота
  #   container_name: habit_tracker_bot
  #   env_file:
  #     - .env
  #   volumes:
  #     - bot_logs:/logs  # Монтируем том для логов
  #   depends_on:
  #     - api
  #   restart: unless-stopped
  #   networks:
  #     - backend

  # scheduler:
  #   build:
  #     context: .  # Контекст сборки - корень проекта
  #     dockerfile: docker/scheduler/Dockerfile  # Путь к Dockerfile для Планировщика
  #   container_name: habit_tracker_scheduler
  #   env_file:
  #     - .env
  #   volumes:
  #     - scheduler_logs:/logs  # Монтируем том для логов
  #   depends_on:
  #     - api
  #   restart: unless-stopped
  #   networks:
  #     - backend

# Определяем все тома для хранения персистентных данных
volumes:
  postgres_data:
    driver: local
  api_logs:
    driver: local
#  bot_logs:
#    driver: local
#  scheduler_logs:
#    driver: local

# Определяем общую сеть для всех сервисов.
# Это обеспечивает изоляцию и позволяет контейнерам общаться друг с другом по именам.
networks:
  backend:
    driver: bridge