# =================================================================
# PDM
# =================================================================

# ...

# =================================================================
# Конфигурация Mypy
# =================================================================
[tool.mypy]
python_version = "3.12"

# Включаем строгие проверки

# Проверяет тела функций, даже если у них нет аннотаций типов
check_untyped_defs = true  # Помогает найти ошибки в старом коде, который еще не был полностью типизирован

# Запрещает создавать новые функции без полных аннотаций типов для аргументов и возвращаемого значения
disallow_untyped_defs = true  # Обеспечивает полное покрытие типов для нового кода

# Предупреждает, если функция с указанным типом возвращает значение типа `Any`
warn_return_any = true  # Помогает предотвратить "утечку" неопределенных типов в строго типизированный код

# Предупреждает о наличии ненужных комментариев `# type: ignore`
warn_unused_ignores = true  # Помогает поддерживать чистоту кода, удаляя "заглушки", которые больше не актуальны

# Игнорировать библиотеки, у которых нет "стабов" (файлов с типами)
ignore_missing_imports = true

# Директории для исключения из проверки
exclude = ["migrations/", "tests/"]

# =================================================================
# Конфигурация Ruff
# =================================================================
[tool.ruff]
# Устанавливаем максимальную длину строки
line-length = 120

# Указываем директории, которые Ruff должен игнорировать
exclude = [
    ".git",
    ".idea",
    ".venv",
    "venv",
    "*/migrations/*",
    "*/tests/*",
]

# Настраиваем линтер
[tool.ruff.lint]
# Выбираем наборы правил. 'E' и 'F' - это стандарт (pycodestyle, pyflakes)
# 'I' - для сортировки импортов (isort)
select = ["E", "F", "W", "I"]

# Игнорируем конкретные правила, если они мешают
ignore = ["E501"]  # E501 (line too long) можно отключить