# Основной фреймворк и его окружение
fastapi==0.121.1
pydantic==2.12.4
pydantic-settings==2.12.0
python-jose==3.5.0

# База данных, миграции, ORM
sqlalchemy==2.0.44
# psycopg[binary]==3.2.6
# alembic==1.15.2


# Логирование
loguru==0.7.3

# Мониторинг
sentry-sdk[fastapi,sqlalchemy]==2.44.0
# starlette-exporter==0.23.0