# Включаем основные зависимости
-r requirements.txt

# Тестирование
# pytest==8.3.5
# pytest-asyncio==0.26.0
# pytest-cov==6.1.1
# pytest-dotenv==0.5.2
# httpx==0.28.1 # Асинхронный HTTP клиент для интеграционных тестов
# aiosqlite==0.21.0 # Для тестовой БД SQLite

# Линтинг и форматирование
pre-commit==4.4.0
ruff==0.14.4

# Статическая типизация
mypy==1.18.2
# types-aiofiles==24.1.0.20250326
# types-passlib==1.7.7.20250408

# Аудит безопасности зависимостей
# pip-audit==2.9.0